# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
android/.gradle/
android/app/build/
android/app/debug.keystore
ios/build/
ios/Pods/
ios/DerivedData/

# Misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
